body{
    background-color: black;
}

.title{
    color: blue;
    font-size: 40px;
    display: flex;
    justify-content: center;
}
.mainContainer{
    display: flex;
    border: 1px solid #555555;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background-color: #222222;
}

#legend{
    border: 1px solid #555555;
    color: lightslategray;
}
#inpKey{
    color: lightslategray;

    border-style: inset;

}

.apiReq {
    border:1px solid #555555;
    width: 30%;
}

#legend{
    border: 1px solid #555555;
}

.collection{
    justify-content:center;
    text-align: center;
    width: 30%;
    border: 1px solid #555555;
    color: lightslategray;
}

.row{
    border: 1px solid #555555;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    text-align: center;
}

#thumbnails{
    width: 100%;
    height: 6em;
}

#box{
    width: 30%;
    border: 1px solid #555555;
}

.cardInfo{
    border: 1px solid #555555;
    width: 30%;
}

