body{
    background-color: black;
}

.title{
    color: blue;
    font-size: 40px;
    display: flex;
    justify-content: center;
}
.mainContainer{
    display: flex;
    border: 1px solid #555555;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background-color: #222222;
}

#legend {
    border: 1px solid #555555;
    color: lightslategray;
    margin: 10px;
}
.tophehe{
    display: flex;
    flex-direction: column;
    width: 30%;
}
.apiReq, #box {
    border:1px solid #555555;
    width: 15%;
    margin: 5px;
}

.collection{
    justify-content:center;
    text-align: center;
    width: 80%;
    border: 1px solid #555555;
    color: lightslategray;
    margin: 10px;
}

.row{
    border: 1px solid #555555;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    text-align: center;
}

#thumbnails{
    width: 100%;
    height: 6em;
}

.cardInfo{
    border: 1px solid #555555;
    margin: 10px;
    width: 30%;
    height: 500px;
    align-content: center;
    align-items: center;
    justify-content: center;
    display: flex;
    -webkit-background-size: cover; 
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    flex-direction: column; 
    opacity: 100%;
}

.cardInfo, .backCardInfo{
    border: 1px solid #555555;
    margin: 10px;
    width: 30%;
    height: 500px;
}

.cardEdge {
    height: 100%;
    width: 100%;
    color: white;
}

#photo{
    opacity: 40%;
    height: 100%;
    /* background-image: url(https://www.superherodb.com/pictures2/portraits/10/100/1305.jpg); */
    align-content: center;
    align-items: center;
    display: flex;
    -webkit-background-size: cover; 
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    flex-direction: column; 
}
.top {
    margin-top: -485px;
    margin-inline-start: 20px;
    display: flex;
    flex-direction: column;
}

#top1{
    margin-inline-end: 20px;
    display: flex;
    justify-content: space-between;
}
.middle{
    margin-top: 300px;
    margin-inline-start: 20px;
    display: flex;
    flex-direction: column;
}